---
title: About this site
layout: base.njk
---

<div class="container">
    <h1>About this page</h1>
    <div>It was made for you using HTML, CSS and Javascript and served as a JAMStack site.</div>
</div>
<script src="vibe.js"></script>